
<h1><%= current_user.full_name %>'s Bookings</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link <%= "active" if params[:tab] != "engagements" %>" id="bookings-tab" data-bs-toggle="tab" data-bs-target="#bookings" type="button" role="tab" aria-controls="bookings" aria-selected=<%= "false" if params[:tab] == "engagements" %> <%= tabindex="-1" if params[:tab] == "engagements" %>>Bookings</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link <%= "active" if params[:tab] == "engagements" %>" id="engagements-tab" data-bs-toggle="tab" data-bs-target="#engagements" type="button" role="tab" aria-controls="engagements" aria-selected=<%= "true" if params[:tab] == "engagements" %>>Engagements</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade <%= "show active" if params[:tab] != "engagements" %>" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">
  <p style="text-align: left">These listings are those that you have booked for others to join you:</p>
  <div class="card mb-3 border-success card_bg_opacity">
    <h2>Approved</h2>
      <ul>
        <% current_user.bookings.each do |booking| %>
          <% if booking.status == "approved" %>
            <li>
              Location: <%= booking.location %> - <%= booking.date %> <br>
              <strong><%= booking.escort.full_name %></strong> to accompany you for a <%= booking.occasion.name %>. <br>
              Status: <%= booking.status %>
            </li>
          <% end %>
        <% end %>
      </ul>
  </div>

  <div class="card mb-3 border-warning card_bg_opacity">
    <h2>Pending Review</h2>
    <ul>
      <% current_user.bookings.each do |booking| %>
        <% if booking.status == "pending" %>
          <li>
            Location: <%= booking.location %> - <%= booking.date %><br>
            <strong><%= booking.escort.full_name %></strong> to accompany you for a <%= booking.occasion.name %>. <br>
            Status: <%= booking.status %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="card border-danger card_bg_opacity">
    <h2>Rejected</h2>
    <ul>
      <% current_user.bookings.each do |booking| %>
        <% if booking.status == "rejected" %>
          <li>
            Location: <%= booking.location %> - <%= booking.date %><br>
            <strong><%= booking.escort.full_name %></strong> to accompany you for a <%= booking.occasion.name %>. <br>
            Status: <%= booking.status %>
          </li>
        <% end %>
      <% end %>
    </ul></div>
  </div>


  <div class="tab-pane fade <%= "show active" if params[:tab] == "engagements" %>" id="engagements" role="tabpanel" aria-labelledby="engagements-tab">
  <p>These listings are those that you are being rented for:</p>
  <h2>Approved</h2>
    <ul>
      <% current_user.engagements.each do |booking| %>
        <% if booking.status == "approved" %>
          <li>
            Location: <%= booking.location %> - <%= booking.date %><br>
            <strong>You</strong> are accompanying <strong><%= booking.renter.full_name %></strong> to a <%= booking.occasion.name %>. <br>
            Status: <%= booking.status %>
          </li>
        <% end %>
      <% end %>
    </ul>

    <h2>Pending Review</h2>
    <ul>
      <% current_user.engagements.each do |booking| %>
        <% if booking.status == "pending" %>
          <li>
            Location: <%= booking.location %> - <%= booking.date %><br>
            <strong>You</strong> are accompanying <strong><%= booking.renter.full_name %></strong> to a <%= booking.occasion.name %>. <br>
            Status: <%= booking.status %>
          </li>
          <%= link_to "Approve", booking_update_status_path(booking, status: "approved"), data: { turbo_method: :patch } %>
          <%= link_to "Reject", booking_update_status_path(booking, status: "rejected"), data: { turbo_method: :patch } %>
        <% end %>
      <% end %>
    </ul>
    _____________________________________________________________________________________________________
    <h2>Rejected</h2>
    <ul>
      <% current_user.engagements.each do |booking| %>
        <% if booking.status == "rejected" %>
          <li>
            Location: <%= booking.location %> - <%= booking.date %><br>
            <strong>You</strong> are accompanying <strong><%= booking.renter.full_name %></strong> to a <%= booking.occasion.name %>. <br>
            Status: <%= booking.status %>
          </li>
          <%= link_to "Approve", booking_update_status_path(booking, status: "approved"), data: { turbo_method: :patch } %>
        <% end %>
      <% end %>
    </ul>
  </div>

</div>
