

<div class="container-sm">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Booking succeeded ✅</h5>
      <p class="card-text"><small class="text-body-secondary">Reminder: </small></p>
      <p class="card-text" style="text-transform:capitalize;"><%= @booking.occasion.name %> with <%= User.find(@booking.escort_id).full_name %> in <%= @booking.location %> <br> date: <%= @booking.start_date %><br>
      Enjoy <%= User.find(@booking.renter_id).full_name %> !</p>
    </div>
    <img src="https://images.unsplash.com/photo-1511871893393-82e9c16b81e3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80" class="img" alt="...">
  </div>
</div>
