<button><%= link_to "Home Page", user_path, class: 'linkhome' %></button>
<br />
<div class="cards">
<img src="https://img.freepik.com/photos-premium/beau-garcon_559599-256.jpg" style="width:100%">
  <h3><strong><%= @user.full_name %></strong></h3>
    <div class="card-escort">
      <div class="user-infos">
          <p>Age: <%= @user.age %></p>
          <p>City: <%= @user.location %></p>
      </div>
      <h2 class="card-review">
            <p>Reviews</p>
            <div class="review-container">
              <% @user.reviews.each do |review| %>
              <p>By: <%= User.find(review.renter_id).full_name %>
              <p>Rating: </p>
                <% review.rating.times do %> <p>⭐️</p>
                <% end %>
              <p>Comment: <%= review.comment %></p>
              <% end %>
            </div>
      </h2>
</div>
<button><%= link_to "Book your companion", new_user_booking_path(@user), class: 'linkcompanion'%></button>
