<div class="bg-image vh-100">
  <div class="container">
    <div class="filter">
    <div class="filter-form">
    <h3>Match up for your next event</h3>
      <%= form_with model: @user, url: users_path, method: :get do |form| %>
        <%= form.select :location, (User.all.map {|u| u.location}).uniq, {include_blank: "Location"}, { class: "w-50 p-3" } %>
        <br>
        <%= form.select :age, ['18-25', '25-40', '40-60', '60+'] , {include_blank: "Age"}, { class: "w-50 p-3" } %>
        <br>
        <%= form.select :occasion, Occasion.all.map { |o| o.name } , {include_blank: "Event"}, { class: "w-50 p-3" }%>
        <br>
        <%= form.select :gender, ['male', 'female'] , {include_blank: "Gender"}, { class: "w-50 p-3" } %>
        <br>
        <div class="mb-2">
          <%= form.date_field :date, data: { controller: "datepicker" } %>
        </div>

        <%= form.submit 'Connect', { class: "btn btn-primary btn-lg btn-block"  } %>

      <% end %>
    </div>
  </div>

</div>
