<h1><%= current_user.full_name %>'s Profile</h1>
<br />

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Profile info</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Your reviews</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false"><%= link_to " your bookings", bookings_path, class: "link"%></button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
     <%= simple_form_for @user, url: user_registration_path, method: :post do |f| %>
        <%= f.input :email, placeholder:current_user.email, input_html: {readonly: true} %>
        <%= f.input :password, placeholder:"*********", input_html: {readonly: true}%>
        <%= f.input :full_name, placeholder:current_user.full_name, input_html: {readonly: true} %>
        <%= f.input :age, placeholder:current_user.age, input_html: {readonly: true} %>
        <%= f.input :gender, placeholder:current_user.gender, input_html: {readonly: true} %>
        <%= f.input :location, placeholder:current_user.location, input_html: {readonly: true} %>
        <%= f.button :submit %>
      <% end %>
  </div>
  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">  <h3><strong>Your reviews</strong> </h3>
    <br>
    <% current_user.reviews.each do |review| %>
    <p><strong>Review</strong></p>
    <% renter = User.find(review.renter_id)%>
    <p> By: <%= renter.full_name %></p>
    <% escort = User.find(review.escort_id)%>
    <p> To: <%= escort.full_name %></p>
    <p>Comment: <%= review.comment %></p>
    <p>Rating: <%= review.rating %></p>
    <% end %>
    </div>
  <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...</div>
  <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div>
</div>
