<h1><%= current_user.full_name %>'s Profile</h1>


<%= simple_form_for @user, url: user_registration_path, method: :post do |f| %>
  <%= f.input :email, placeholder:current_user.email %>
  <%= f.input :password, placeholder:"*********" %>
  <%= f.input :full_name, placeholder:current_user.full_name %>
  <%= f.input :age, placeholder:current_user.age %>
  <%= f.input :gender, placeholder:current_user.gender %>
  <%= f.input :location, placeholder:current_user.location %>
  <%= f.button :submit %>
<% end %>
